[Unit]
Description=Emit a beep sound at samba state changes
After=smbd.service
BindsTo=smbd.service
ReloadPropagatedFrom=smbd.service.target
 
[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/etc/init.d/beep_samba start
ExecStop=/etc/init.d/beep_samba stop
ExecReload=/etc/init.d/beep_samba restart

[Install]
WantedBy=smbd.service
